{% extends "shared/base.html" %}

{% block content %}
  {% with msg=msg %}
    {% include "components/alerts.html" %}
  {% endwith %}
  <div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5">Welcome to Lib-sys..</h1>
      <h1 class="display-2">Library Management System</h1>
    </div>

  </div>
  <!-- col-sm-10 mr-auto -->
  <div class="row">
    {% for book in books %}
      
        {% with obj=book %}
        {% include "components/cards.html" %}
        {% endwith %}

        {% if loop.index %3 %}
          </div>
        {% else %}
          </div></div><br><div class="row">
        {% endif %}
    {% endfor %}
</div>


</div>
{% endblock %}
