{% extends "shared/base.html" %}

{% block content %}
  {% with msg=msg %}
    {% include "components/alerts.html" %}
  {% endwith %}
  <img src="{{ url_for('static', path='images/Lib-sys.png') }}" alt="Landing page", width="1450 px", height="400 px">

  <div class="container">
  <div class="row">
    <!-- <div
    class="bg-image"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp');
      height: 50vh;
    "
  ></div> -->

  </div>
  <!-- col-sm-10 mr-auto -->
  <div class="row">
    {% for book in books %}
      
        {% with obj=book %}
        {% include "components/cards.html" %}
        {% endwith %}

        {% if loop.index %3 %}
          </div>
        {% else %}
          </div></div><br><div class="row">
        {% endif %}
    {% endfor %}
</div>


</div>
{% endblock %}
